<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
   <userSettings>
      <add key="strCnt" value= "0" />
      <add key="numCnt" value= "0" />
      <add key="rowErr" value= "0" />
      <add key="cellErr" value= "0" />
      <add key="rowTot" value= "0" />
      <add key="cellTot" value= "0" />
   </userSettings>
</configuration>
